#name-on-top-ach h1 {
    position: relative;
    top: 1rem; /* Distance from the top */ 
    right: 20rem; /* Distance from the left */
    margin: 0;
    font-size: 2rem;
    color: #1f2937; /* Adjust color based on your design */
    margin-bottom: 1rem;
  }

  #record-headline-container h1 {
    font-size: 1.25rem; /* Decrease font size */
    font-weight: 600;
    letter-spacing: 0.2em; /* Slightly reduce letter-spacing */
    text-align: center;
    text-transform: uppercase;
    color: #9a3412;
    font-family: 'Pacifico', cursive;
    margin: 0;
}