#game-container {
    width: 110%; /* Increase width for more space */
    max-width: 32rem; /* Slightly increase max-width */
    padding: 1rem; /* Reduce padding for compactness */
    margin: 1 auto;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background: linear-gradient(180deg, #474232 0%, #28271c 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; /* Reduce gap to fit content more tightly */
}

#img-container {
    width: 100%;
    max-width: 32rem; /* Increase max-width for more space */
    max-height: 18rem; /* Reduce max height for better fit */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem; /* Slightly reduced margin for a tighter fit */
}

#game-container img {
    width: 220px; /* Increase width slightly */
    height: 260px; /* Adjust height to maintain good aspect ratio */
    object-fit: cover; /* Ensures the image covers the space well */
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px; /* Reduced margin for a tighter fit */
}

#game-container h1 {
    width: 100%;
    margin: 0;
    height: 2.5rem; /* Reduce height for a more compact title */
    padding: 0.3rem; /* Adjust padding for better spacing */
    font-size: 1.5rem; /* Slightly decrease font size */
    color: rgb(224, 98, 39);
    text-align: center;
}

.answer-button {
    padding: 1rem; /* Keep padding consistent */
    width: 100%; /* Ensure buttons are 100% width of their container */
    max-width: 18rem; /* Adjust width to keep the button size uniform */
    height: 50px; /* Set fixed height for consistency */
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
    color: #1f2937;
    background-color: #ecb061;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* Ensure the text is centered */
    white-space: nowrap; /* Prevent the text from wrapping */
    overflow: hidden; /* Ensure no text overflow */
    text-overflow: ellipsis; /* Truncate long text with ellipsis */
    min-width: 13rem; /* Ensure a minimum width for all buttons */
    box-sizing: border-box; /* Include padding in the width and height */
}

.answer-button:hover{
    transform: scale(1.05);
    background-color: #8a881b;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
